%h1 Listing: Samples

%table
  %thead
    %tr
      %th Pisces ID
      %th Customer
      %th
      %th
      %th
  %tbody
    - @samples.each do |sample|
      %tr
        %td= create_index_link_or_text sample, sample.pisces_id
        %td= create_index_link_or_text sample, sample.customer
        %td= link_to 'Show', sample
        %td= link_to 'Edit', edit_sample_path(sample)
        %td= link_to 'Destroy', sample, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sample', new_sample_path
