%h1 Showing: Sample

%p
  %b Customer:
  = show_attribute_link_or_text @sample.customer_id
%p
  %b Pisces ID:
  = show_attribute_link_or_text @sample.pisces_id

= link_to 'Edit', edit_sample_path(@sample)
\|
= link_to 'Destroy', sample_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Back', samples_path
