= form_for @communication_type do |f|
  - if @communication_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@communication_type.errors.count, "error")} prohibited this communication_type from being saved:"
      %ul
        - @communication_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :val
    = f.number_field :val
  .actions
    = f.submit 'Save'
