%h1 Listing: Communication Types

%table
  %thead
    %tr
      %th Text
      %th Value
      %th
      %th
      %th
  %tbody 
    - @communication_types.each do |communication_type|
      %tr
        %td= create_index_link_or_text communication_type, communication_type.text
        %td= create_index_link_or_text communication_type, communication_type.val
        %td= link_to 'Show', communication_type
        %td= link_to 'Edit', edit_communication_type_path(communication_type)
        %td= link_to 'Destroy', communication_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Communication type', new_communication_type_path
