%p
  %b Text:
  = show_attribute_link_or_text @communication_type.text
%p
  %b Val:
  = show_attribute_link_or_text @communication_type.val

= link_to 'Edit', edit_communication_type_path(@communication_type)
\|
= link_to 'Destroy', communication_type_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Back', communication_types_path
