%div
  = edit_link.label :name, 'Name: '
  = edit_link.text_field :name
%div
  = edit_link.label :url, 'URL: '
  = edit_link.text_field :url
%div
  = edit_link.label :notes, 'Notes: '
  = edit_link.text_field :notes
