= form_for @project_link do |f|
  .field
    = f.label :project
    = f.search_html :project
  .field 
    = f.label :is_result
    =f.check_box :is_results
  .field
    = f.label :sort
    = f.number_field :sort
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :notes
    = f.text_field :notes
  .actions
    = f.submit 'Save'
    = f.submit 'Cancel', value: :Cancel
