= form_for @project_link do |f|
  .field
    - search_html f, :project_link, :project, 'Project: ', {path: projects_path, input: :q}, :title, @project_link.project.to_s
  .field
    = f.label :sort
    = f.number_field :sort
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
