%h1 Listing: Project Links

%table
  %thead
    %tr
      %th Name
      %th Url
      %th Project
      %th Sort
      %th
      %th
      %th
  %tbody
    - @project_links.each do |project_link|
      %tr
        %td= create_index_link_or_text project_link, project_link.name
        %td= create_index_link_or_text project_link, project_link.url
        %td= create_index_link_or_text project_link, project_link.project.title
        %td= create_index_link_or_text project_link, project_link.sort
        %td= link_to 'Show', project_link
        %td= link_to 'Edit', edit_project_link_path(project_link)
        %td= link_to 'Destroy', project_link, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project link', new_project_link_path
