%p#notice= notice

%p
  %b Project:
  = @project_link.Project
%p
  %b Sort:
  = @project_link.sort
%p
  %b Name:
  = @project_link.name
%p
  %b Url:
  = @project_link.url

= link_to 'Edit', edit_project_link_path(@project_link)
\|
= link_to 'Back', project_links_path
