%h1 Showing: Project Link

%p
  %b Project:
  = show_attribute_link_or_text @project_link.project
%p
  %b Sort:
  = show_attribute_link_or_text @project_link.sort
%p
  %b Name:
  = show_attribute_link_or_text @project_link.name
%p
  %b Url:
  = show_attribute_link_or_text @project_link.url

= link_to 'Edit', edit_project_link_path(@project_link)
\|
= link_to 'Destroy', project_link_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Back', project_links_path
