= form_for @project_type do |f|
  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :value
    = f.number_field :val
  .field
    = f.label :sort
    = f.number_field :sort
  .actions
    = f.submit 'Save'
