%p#notice= notice

%p
  %b Text:
  = @project_type.text
%p
  %b Val:
  = @project_type.val
%p
  %b Sort:
  = @project_type.sort

= link_to 'Edit', edit_project_type_path(@project_type)
\|
= link_to 'Back', project_types_path
