%h1 Listing step statuses

%table
  %thead
    %tr
      %th Text
      %th Value
      %th
      %th
      %th
  %tbody
    - @step_statuses.each do |step_status|
      %tr
        %td= create_index_link_or_text step_status, step_status.text
        %td= create_index_link_or_text step_status, step_status.val
        %td= link_to 'Show', step_status
        %td= link_to 'Edit', edit_step_status_path(step_status)
        %td= link_to 'Destroy', step_status, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Step status', new_step_status_path
