%h1 Showing: Priority

%p
  %b Text:
  = show_attribute_link_or_text @priority.text
%p
  %b Val:
  = show_attribute_link_or_text @priority.val

= link_to 'Edit', edit_priority_path(@priority)
\|
= link_to 'Destroy', priority_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Back', priorities_path
