= edit_contact.label :name, 'Name: '
= edit_contact.text_field :name
= edit_contact.label :phone, 'Phone Number: '
= edit_contact.text_field :phone
= edit_contact.label :email, 'Email: '
= edit_contact.text_field :email
= edit_contact.label :address, 'Address: '
= edit_contact.text_field :address
