= form_for @contact do |f|
  .field
    = f.label :contact_name
    = f.text_field :contact_name
  .field 
    - search_html f, :contact, :project, 'Project: ', {:path => projects_path, :input => :q}, :title, @contact.project.to_s
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :address
    = f.text_area :address
  .actions
    = f.submit 'Save'
