= form_for @contact do |f|
  .field
    = f.label :contact_name
    = f.text_field :contact_name
  .field 
    = f.label :project
    = f.search_html :project
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :address
    = f.text_area :address
  .actions
    = f.submit 'Save'
