%p
  %b Name:
  = show_attribute_link_or_text @contact.contact_name
%p
  %b Phone:
  = show_attribute_link_or_text @contact.phone
%p
  %b Email:
  = show_attribute_link_or_text @contact.email
%p
  %b Address:
  = show_attribute_link_or_text @contact.address
%p
  %b Project:
  = show_attribute_link_or_text @contact.project

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Destroy', contact_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Back', contacts_path
