= form_for @project, :html => {:autocomplete => "off"} do |f|
  %div.flex.grow
    .field
      = f.label :tile, 'Title: '
      = f.text_field :title
    .field
      = f.label :priority, 'Priority: '
      = f.collection_select(:priority_id, Priority.all, :id, :text.to_s)
    .field
      = f.label :status_id, 'Status: '
      = f.collection_select(:status_id, Status.all, :id, :text.to_s)
    .field
      = f.label :project_type_id, 'Project Type:'
      = f.collection_select(:project_type_id, ProjectType.all, :id, :text.to_s)
    .field
      - search_html f, :project, :customer, "Customer: ", {:path => customers_path, :input => :customer_name}, :customer_name, @project.customer_name 
    .field
      = f.label :started, 'Date started: '
      = f.date_select :started
    .field
      = f.label :soft_deadline, 'Soft Deadline: '
      = f.date_select :soft_deadline
    .field
      = f.label :goal, 'Goal: '
      = f.text_field :goal
  %hr
  %div.flex.three
    .field.no_wrap
      = f.label :notes, 'Pisces Notes: '
      = f.text_area :notes
      = render :partial => 'settings/notes_cheat_sheet'
    .field
      = f.label :customer_notes, 'Customer Notes: '
      = f.text_area :customer_notes
    .field
      = f.label :stumbling_blocks, 'Potential Stumbling Blocks: '
      = f.text_area :stumbling_blocks
  %hr
  %div.flex.two
    %div
      %b
        Links
      %br
      = f.fields_for :project_links do |ff|
        %div.flex
          = render :partial => 'project_links/edit_link', :object => ff
    %div
      %b
        Steps
      %br
      = render :partial => "steps/edit_step", :object => f
  %hr
  %div.flex.two
    %div
      %b
        Communications
      %br
      = f.fields_for :communications do |ff|
        %div.flex
          = render :partial => 'communications/communication', :object => ff, locals: {:project => @project}
    %div
      %b
        Contacts
      %br
      = f.fields_for :contacts do |ff|
        %div.flex.two
          = render :partial => 'contacts/edit_contact', :object => ff 
  %hr
  = f.submit 'Save'
  \|
  = link_to 'Cancel', @project
  \|
  = link_to 'Destroy Project', @project, :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
  = link_to 'Projects Index', projects_path
