= form_for @project, :html => {:autocomplete => "off"} do |f|
  - search_html f, :customer_id, "Customer: ", :customer, customers_path + "?customer_name=",  @project.customer.customer_name
  = f.label :started, 'Date started: '
  = f.text_field :started
  %br
  = f.label :status_id, 'Status: '
  = f.text_field :status_id
  %br
  = f.label :goal, 'Goal: '
  = f.text_field :goal
  %br
  = f.label :priority_id, 'Priority: '
  = f.text_field :priority_id
  %br
  = f.submit 'Submit'
