= form_for setup_project(@project), :html => {:autocomplete => "off"} do |f|
  = f.label :tile, 'Title: '
  = f.text_field :title
  - search_html f, :customer_id, "Customer: ", :customer, customers_path + "?customer_name=",  @project.customer.customer_name
  = f.label :started, 'Date started: '
  = f.date_select:started
  %br
  = f.label :soft_deadline, 'Soft Deadline: '
  = f.date_select :soft_deadline
  %br
  = f.label :status_id, 'Status: '
  = f.collection_select(:status_id, Status.all, :id, :text.to_s)
  %br
  = f.label :goal, 'Goal: '
  = f.text_field :goal
  %br
  = f.label :priority, 'Priority: '
  = f.collection_select(:priority_id, Priority.all, :id, :text.to_s)
  %br
  %hr
  %div.table
    %div.cell
      = f.label :notes, 'Pisces Notes: '
      %br
      = f.text_area :notes
    %div.cell
      = f.label :customer_notes, 'Customer Notes: '
      %br
      = f.text_area :customer_notes
    %div.cell
      = f.label :stumbling_blocks, 'Potential Stumbling Blocks: '
      %br
      = f.text_area :stumbling_blocks
  %hr
  %div#links
    %b
      Links
    %br
    = f.fields_for :project_links do |ff|
      = render :partial => 'project_links/edit_link', :object => ff
      %br
  %div#steps
    %b
      Steps
    %br
    = render :partial => "steps/edit_step", :object => f
  %hr
  %div#contacts
    %b
      Contacts
    %br
    = f.fields_for :contacts do |ff|
      = render :partial => 'contacts/edit_contact', :object => ff 
  = f.submit 'Submit'
