%h1
  Open projects
%div
  %div.table
    %div.projects_table_row
      %div
        = link_to_sorted "Title", :title
      %div
        = link_to_sorted 'Goal', :goal
      %div
        = link_to_sorted 'Priority', 'priorities.val'
      %div
        Next step | Due
    - @projects.each do |project|
      - project = setup_project project
      %div.projects_table_row
        %div
          = link_to project.title, project
        %div
          = project.goal
        %div
          = project.priority.text
        %div
          = project.steps.first.action
          | 
          = project.steps.first.due        
%div
  %br
  = link_to "New Project", new_project_url
%div
  = paginate @projects
