%div
  %h2
    Project:
    = @project.title
  %div
    %p
      Start Date:
      = @project.started
    %p
      Soft Deadline:
      = @project.soft_deadline
    %p
      Goal:
      = @project.goal
    %p
      Customer:
      = Customer.find_by_id(@project.customer_id).customer_name
    %p
      Priority:
      = @project.priority.text
    %p
      Status:
      = @project.status.name
    %hr
    %div.table
      %div.cell
        %b
          Pisces Notes:
        %div.indent
          = format_text_field @project.notes
      %div.cell
        %b
          Customer Notes:
        %div.indent
          = format_text_field @project.customer_notes
      %div.cell
        %b
          Potential Stumbling Blocks:
        %div.indent
          = format_text_field @project.stumbling_blocks
    %div
      = link_to "Edit", edit_project_path(@project)
      = link_to "Back"
      = @test