%div
  %h2
    Project:
    = @project.title
  %div
    %p
      Start Date:
      = @project.started
    %p
      Soft Deadline:
      = @project.soft_deadline
    %p
      Goal:
      = @project.goal
    %p
      Customer:
      = Customer.find_by_id(@project.customer_id).customer_name
    %p
      Priority:
      = @project.priority.text
    %p
      Status:
      = @project.status.text
    %hr
    %div.table
      %div.cell
        %b
          Pisces Notes:
        %div.indent
          = format_text_field @project.notes
      %div.cell
        %b
          Customer Notes:
        %div.indent
          = format_text_field @project.customer_notes
      %div.cell
        %b
          Potential Stumbling Blocks:
        %div.indent
          = format_text_field @project.stumbling_blocks
    %hr
    %div.two_column
      %b
        Links
      %div#links.indent
        - @project.project_links.each do |link|
          = render :partial => '/project_links/show_single', :object => link
      %br
      New link
      = render :partial => "/project_links/new_link", locals: {:project => @project}
    %div.two_column
      %b
        Steps
      %div#steps.indent
        - @project.steps.each do |step|
          = render :partial => '/steps/show_single', :object => step
      %br
        New step
        = render :partial => '/steps/new_step', locals: {:project => @project}
    = link_to "Edit", edit_project_path(@project)
    = link_to "Back"
    Hello
