%div
  %h2
    Project:
    = @project.title
  %div
    %div.flex.six
      %div
        %b
          Customer:
        %br
        = Customer.find_by_id(@project.customer_id).customer_name
      %div
        %b
          Priority:
        %br
        = @project.priority.text
      %div
        %b
          Status:
        %br
        = @project.status.text
      %div
        %b
          Goal:
        %br
        = @project.goal
      %div
        %b
          Soft Deadline:
        %br
        = @project.soft_deadline
      %div
        %b
          Start Date:
        %br
        = @project.started
    %hr
    %div.flex.three
      %div
        %b
          Pisces Notes:
        %div.indent
          = format_text_field @project.notes
      %div
        %b
          Customer Notes:
        %div
          = format_text_field @project.customer_notes
      %div
        %b
          Potential Stumbling Blocks:
        %div.indent
          = format_text_field @project.stumbling_blocks
    %hr
    %div.flex.two
      %div
        %b
          Links
        %div#links
          %div.flex.two.list
            %div
              Link
            %div
              Notes
          - @project.project_links.each do |link|
            = render :partial => '/project_links/show_single', :object => link
        %br
        New link
        = render :partial => "/project_links/new_link", locals: {:project => @project}
      %div
        %b
          Steps
        %div#steps
          %div.flex.four.list
            %div
              Action
            %div
              Status
            %div
              Notes
            %div
              Due
          - @project.steps.each do |step|
            = render :partial => '/steps/show_single', :object => step
        %br
          New step
          = render :partial => '/steps/new_step', locals: {:project => @project}
    %hr
    %div.flex.two
      %div
        %b
          Communications      
        %div#communications_table
          %div.flex.five.label_br
            %div
              Summary
            %div
              Contact
            %div
              Type
            %div
              Status
            %div
              Date
          - @project.communications.each do |communication|
            = render :partial => 'communications/show_single', :object => communication
        %br
          New Communication
          = render :partial => 'communications/new_communication', locals: {:project => @project}  
      %div
        %b
          Contacts      
        %div#contacts_table
          %div.flex.four.list
            %div
              Name
            %div
              Phone Number
            %div
              Email Address
            %div
              Physical Address
          - @project.contacts.each do |contact|
            = render :partial => 'contacts/show_single', :object => contact
        %br
          New Contact
          = render :partial => 'contacts/new_contact', locals: {:project => @project}          
    = link_to "Edit", edit_project_path(@project)
    \|
    = link_to "Back", projects_path
