%div
  %h2
    Project:
    =@project.customer.customer_name
  %div
    %p
      Start Date:
      = @project.started
    %p
      Goal:
      = @project.goal
    %p
      Customer:
      = @project.customer.customer_name
    %p
      Priority:
      = @project.priority.text
    %p
      Status:
      = @project.status.name
    %div
      = link_to "Edit", edit_project_path(@project)
      = link_to "Back"
      = @test