%div
  %h2
    Project:
    Project Name
  %div
    %p
      Start Date:
      = @project.started
    %p
      Goal:
      = @project.goal
    %p
      Customer:
      = Customer.find_by_id(@project.customer_id).customer_name
    %p
      Priority:
      = @project.priority.text
    %p
      Status:
      = @project.status.name
    %div
      = link_to "Edit", edit_project_path(@project)
      = link_to "Back"
      = @test