= form_for @step do |f|
  .field
    = f.label :action
    = f.text_field :action
  .field
    = f.label :note
    = f.text_area :note
  .field
    = f.label :value
    = f.number_field :val
  .field
    = f.label :step_status
    = f.text_field :step_status
  .field
    - search_html f, :step, :project, 'Project: ', {path: projects_path, input: :q}, :title, @step.project.to_s
  .actions
    = f.submit 'Save'
