= form_for @step do |f|
  .field
    = f.label :action
    = f.text_field :action
  .field
    = f.label :note
    = f.text_area :note
  .field
    = f.label :value
    = f.number_field :val
  .field
    = f.label :step_status
    = f.collection_select(:step_status_id, StepStatus.all, :id, :text.to_s)
  .field
    = f.label :due
    = f.date_select :due
  %div
    = f.label :project
    = f.search_html :project
  .actions
    = f.submit 'Save'
