%div
  = step.label :action, 'Action: '
  = step.text_field :action
%div
  = step.label :note, 'Notes: '
  = step.text_field :note
%div
  = step.label :status, 'Status: '
  = step.collection_select(:step_status_id, StepStatus.all, :id, :text)