%h1 Listing: Steps

%table
  %thead
    %tr
      %th Action
      %th Step status
      %th Project
      %th Note
      %th Value
      %th
      %th
      %th
  %tbody
    - @steps.each do |step|
      %tr
        %td= create_index_link_or_text step, step.action
        %td.nowrap= create_index_link_or_text step, step.step_status
        %td.nowrap= create_index_link_or_text step, step.project
        %td= create_index_link_or_text step, step.note
        %td= create_index_link_or_text step, step.val
        %td= link_to 'Show', step
        %td= link_to 'Edit', edit_step_path(step)
        %td= link_to 'Destroy', step, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Step', new_step_path
