%h1 Showing: Step

%p
  %b Action:
  = show_attribute_link_or_text @step.action
%p
  %b Note:
  = show_attribute_link_or_text @step.note
%p
  %b Val:
  = show_attribute_link_or_text @step.val
%p
  %b Step status:
  = show_attribute_link_or_text @step.step_status.text
%p
  %b Step project:
  = show_attribute_link_or_text @step.project_id


= link_to 'Edit', edit_step_path(@step)
\|
= link_to 'Destroy', step_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Steps Index', steps_path
