= form_for @<%= singular_table_name %> do |f|
  - if @<%= singular_table_name %>.errors.any?
    #error_explanation
      %h2= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"
      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  .field
    = f.label :<%= attribute.name %>
<% if attribute.reference? -%>
<% if attribute.name.classify.constantize.reference_type_is_search? -%>
    = f.search_html :<%= attribute.name %>
<% else -%>
    = f.collection_select :<%= attribute.index_name %>, <%= attribute.name.classify %>.all, :id, :to_s
<% end -%>
<% else -%>
    = f.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>
<% end -%>
  .actions
    = f.submit 'Save'
