%h1 Showing: Communication Status

%p
  %b Text:
  = show_attribute_link_or_text @communication_status.text
%p
  %b Val:
  = show_attribute_link_or_text @communication_status.val

= link_to 'Edit', edit_communication_status_path(@communication_status)
\|
= link_to 'Destroy', communication_status_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Communication Statuses Index', communication_statuses_path
