%div.flex.five
  %div
    = show_single.summary
  %div
    = show_single.contact.contact_name
  %div
    = show_single.communication_type.text
  %div
    = show_single.communication_status.text
  %div 
    = show_single.comm_date
  %div.outline.o_one
    = format_text_field show_single.notes
  %br