%div.row
  %div
    = show_single.summary
  %div
    = show_single.contact.contact_name
  %div
    = show_single.communication_type.text
  %div
    = show_single.communication_status.text
  %div
    = show_single.notes
  %br