%p
  %b Summary:
  = show_attribute_link_or_text @communication.summary
%p
  %b Notes:
  = show_attribute_link_or_text @communication.notes
%p
  %b Communication status:
  = show_attribute_link_or_text @communication.communication_status
%p
  %b Communication type:
  = show_attribute_link_or_text @communication.communication_type
%p
  %b Project:
  = show_attribute_link_or_text @communication.project

= link_to 'Edit', edit_communication_path(@communication)
\|
= link_to 'Destroy', communication_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Back', communications_path
