!!! 5
%html
  %head
    %title= content_for?(:title) ? "Pisces " + content_for(:title) : "Pisces " + controller_name

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %div#header.clearfix
      %div#page-heading.clearfix
        %h1
          = content_for?(:title) ? "Pisces " + content_for(:title) : "Pisces " + controller_name
        %div#navigation.clearfix
          = link_to "All Projects", projects_url
          = link_to "Find Projects", projects_url
    %div#wrap
      = yield