!!! 5
%html
  %head
    %title= content_for?(:title) ? "Pisces " + content_for(:title) : "Pisces " + controller_name

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %div#header.clearfix
      %div#page-heading.clearfix
        %h1
          = content_for?(:title) ? "Pisces " + content_for(:title) : "Pisces " + controller_name
        %div#navigation.clearfix
          = link_to "All Projects", projects_url
          = link_to 'Settings', settings_url
          = render 'devise/login'
          %form{:action => projects_path, :method => :get , :class => :inline}  
            %input{:type => :text, :value => params[:q], :name => :q}
            %button{:value => :Search}
              Search 
      %div.center><
        %div#flash><
          = display_notice(notice)
          = display_alert(alert)
    %div#wrap
      = yield
