!!! 5
%html
  %head
    %title= content_for?(:title) ? "Pisces " + content_for(:title) : "Pisces: " + controller_name.humanize.titleize

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %div#header.clearfix
      %div#page-heading.clearfix
        %h1
          = content_for?(:title) ? "Pisces " + content_for(:title) : "Pisces: " + controller_name.humanize.titleize
        %div#navigation.clearfix
          = link_to "Projects", projects_url
          = link_to "Projects (Sort: Type)", project_types_url
          = link_to 'Settings', settings_url
          = render 'devise/login'
          %form{:action => projects_path, :method => :get , :class => :inline}  
            %input{:type => :text, :value => params[:q], :name => :search}
            %button{:value => :Search}
              Search 
      %div.center><
        %div#flash><
          = display_notice(notice)
          = display_alert(alert)
    %div#wrap
      = yield
